body{
  font-family: 'Changa';
  max-width: 1200px;
  display: table;
  margin: auto;
  background-color: #bbd0e6;
  background-size: 150%;
  background-attachment: scroll;
}


.header-panel {
  background-color:#dfa145ec;
  margin: auto;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  border: 1px solid darkslateblue;
  max-width: 1200px;
  width: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


.header-panel h2{
  color: #ffffff ;
  text-shadow: 3px 3px darkgrey;
  line-height: 42px;
  font-size: 42px;
  font-weight: normal;
  margin:5px 5px 5px 50px;

}

.header-panel h1{
  color: #e8492a;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(235, 144, 92), 0 0 0.2em blue;
  line-height: 60px;
  font-size: 60px;
  font-weight: normal;
  margin:5px 5px 5px 50px;
}

.header-panel h3{
  color: #ffffff ;
  text-shadow: 3px 3px darkgrey;
  line-height: 28px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin:5px 5px 5px 50px;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 152px;
  background-color: #ffeb3b;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid darkslateblue;
  border-left: 1px solid darkslateblue;
 
}


.sidenav a {
  padding: 3px;
  margin: auto;
  text-decoration: none;
  line-height: 15px;
  font-size: 20px;
  color: #e8492a;
  display: block;
  background-color: #dfa145;
  border: 3px solid darkslateblue;
  border-radius: 3px;
  padding: 5px 5px;
  text-align: center;
  width: 65%;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 170px;
  max-width: 1000px;

}

.main a {
  scroll-margin-top: 170px;
  overflow: auto;
}


@media screen and (max-height: 500px) {
  .sidenav {padding-top: 5px;}
  .sidenav a {font-size: 12px;}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  max-height: 400px;
  min-width: 175px;
  min-height: 275px;
  margin: 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  scroll-margin-top: 170px;
}

img {
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.548);
}

.container {
  padding: 2px 16px;
  max-width: 500px
}

.container p {
  font: 15px normal darkslategrey;
  font-family: Changa;
  line-height: 15px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  margin: 10px;
  background-color: floralwhite;
}

.about img {
  width: auto;
  max-width: 475px;
  box-shadow: 0 4px 8px 0 slategrey;
}

.about h3 {
  font-size: 28px;
  text-shadow: 3px 3px rgba(211, 211, 211, 0.75);
}

#aboutme {
  scroll-margin-top: 170px;
}

.contact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  margin: 10px 10px 700px 10px;
  background-color: floralwhite;
}

.contact h3 {
  font-size: 28px;
  text-shadow: 3px 3px rgba(211, 211, 211, 0.75);
}

#contact {
  scroll-margin-top: 170px;
}